
* {
  font-family: Helvetica;
}

.currencyData {

  display: none;

}


#crypto-table {
  width: 100% !important;
}

#crypto-table th {
  width: 100px;
}

.dataTables_wrapper .dt-buttons {
  float:none;  
  text-align:center;
}

/* Fixing the sort column */
table thead th:hover {
  cursor: pointer;
}

th.sorting_asc,
th.sorting_desc {
  border: 1px solid gray;
  border-bottom: none;
}

td.sorting_1 {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  
}


/* Only for desktop */
@media (min-width: 769px) {
  #crypto-table {
    table-layout: fixed;
  }
  .pagination {
    display: flex;
    justify-content: end;
  }

  #crypto-table_wrapper > div.row:nth-of-type(1) {
    display: flex;
    flex-direction: row-reverse;
  }

  
  #crypto-table_wrapper >  div.row:nth-of-type(1) > div:nth-of-type(1) {
    display: flex;
    justify-content: end;
  }
}

/*Only for small devices */
@media (max-width: 768px) {

  
  #crypto-table_wrapper > div.row:nth-of-type(2) {
    overflow-x: auto;
  }

  #crypto-table_wrapper > div.row:nth-of-type(1) {
    display: flex;
    flex-direction: column-reverse;
  }

  i {
    display: flex;
    justify-content: center;
  }

}

