
/* General */
* {
  font-family: Helvetica;
  color: #6F536F;
}

html {
  background: linear-gradient(180deg, #F2F0EF 0%, #DBDBD9 100%);;
}

body {
  background-color: transparent;
}

.hidden {
  display: none;
}



/* Only for desktop */
@media (min-width: 999px) {


  html {
    height: 100vh;
  }


}

/*Only for small devices */
@media (max-width: 1000px) {

  html {
    height: 112vh;
  }

  body {
    height: 100%;
  }


}

