
:root {
  --mainColor: #6F536F;
}

/* General */
* {
  font-family: Helvetica;
  color: var(--mainColor);
}

html {
  background: linear-gradient(180deg, #F2F0EF 0%, #DBDBD9 100%);;
}

body {
  background-color: transparent;
}

.hidden {
  display: none;
}

.page-content {
  display: flex;
  flex-direction: column;
}

.title {
  
  width: 100%;
  background-color: var(--mainColor);
  color: white;
}

footer {
    background-color: var(--mainColor);
    text-align: center;
    width: 100%;
    padding: 10px;
}

p.smallText {
  color: white;
}


/* Only for desktop */
@media (min-width: 999px) {


  html {
    height: 100vh;
  }


}

/*Only for small devices */
@media (max-width: 1000px) {

  html {
    height: 112vh;
  }

  body {
    height: 100%;
  }


}

